body {
  background-color: Ivory;
  color: Gray;
}
h1 {
  font-size: 20px;
  border: 2px;
  text-align: center;
}
p {
  color: #DAA520;
  background-color: Brown;
  font-size: 16px;
}

ol {
  list-style: lower-latin;
}
ul {
  list-style: square;
}

a.fixed {
  position: fixed;
  border-radius: 2px;
  left: 0;
  top: 0;
  background-color: #D2691E;
}

.classDiv {
  border: 2px dotted;
  width: 200px;
  height: 200px;
}

header.header {
  background-color: #FAEBD7;   
}

nav.nav {
  background-color: #FFE4C4;  
}

section.sectionarticle {
  background-color: #FFEBCD;  
}

aside.aside {
  background-color: #FFF8DC;
}

footer.footer {
  background-color: #F0E68C; 
}

header,
section,
aside,
footer {
  margin: 0 1.5% 24px 1.5%;
}

section {
  display: inline-block;
  width: 30%;
}
