body {
  background-color: Ivory;
  color: Gray;
}
h1 {
  font-size: 20px;
  border: 2px;
  text-align: center;
}
p {
  color: GoldenRod;
  background-color: Lavender;
  font-size: 16px;
}

ol {
  list-style: lower-latin;
}
ul {
  list-style: square;
}

a.fixed {
  position: fixed;
  border-radius: 2px;
  left: 0;
  top: 0;
  background-color: Brown;
}

.classDiv {
  border: 2px dotted;
  width: 200px;
  height: 200px;
}

header.header {
  background-color: AntiqueWhite;   
}

nav.nav {
  background-color: Bisque;  
}

section.sectionarticle {
  background-color: BlanchedAlmond;  
}

aside.aside {
  background-color: Cornsilk;
}

footer.footer {
  background-color: Khaki; 
}
